services:
  rstudio:
    #image: rocker/tidyverse
    container_name: rstudio_llm
    build :
       context: .
       dockerfile: ./rstudio.dockerfile
    environment:
      - USERNAME=rstudio
      - PASSWORD=rstudio1234
      - TZ=Asia/Tokyo
      - MLFLOW_TRACKING_URI='http://mlflow:5000'
    ports:
      - 8787:8787
      - 3838:3838
      - 9991:9991
      - 9992:9992
      - 9993:9993
      - 9994:9994
      - 9995:9995
    volumes:
      - ../../work/:/mnt
    #working_dir: /work
    tty: true
    restart: always
    deploy:
      resources:
        limits:
          memory: '50g'
    depends_on:
      - ollama
      - mlflow
      - selenium
      - mattermost
      - db
    networks:
      - r_ollama_net

  ollama:
    # image: ollama/ollama
    container_name: ollama
    build :
       context: .
       dockerfile: ./ollama.dockerfile
    volumes:
      - ollama:/root/.ollama
    ports:
      - 11434:11434
    tty: true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: '20g'
    networks:
      - r_ollama_net

  mlflow:
    container_name: mlflow
    build:
      #context: ./mlflow-tracking
      context: . 
      dockerfile: ./mlflow.dockerfile
    expose:
      - "5000"
    ports:
      - 5000:5000
    command: mlflow server --backend-store-uri /work/mlruns --default-artifact-root /work/mlruns --host 0.0.0.0 --port 5000
    tty: true
    restart: always
    deploy:
      resources:
        limits:
          memory: '2g'
    networks:
      - r_ollama_net
    
  #open-webui:
  #  container_name: open_webui
  #  image: ghcr.io/open-webui/open-webui:main
  #  ports:
  #    - "3000:8080"
  #  volumes:
  #    - open-webui:/app/backend/data
  #  extra_hosts:
  #    - "host.docker.internal:host-gateway"
  #  restart: always
  #  networks:
  #    - r_ollama_net

  selenium:
    container_name: selenium_chrome
    build :
       context: .
       dockerfile: ./selenium.dockerfile
    ports:
      - 4444:4444 
      - 7900:7900
    restart: always
    tty: true
    deploy:
      resources:
        limits:
          memory: '2g'
    networks:
      - r_ollama_net

  mattermost:
    container_name: mattermost
    image: mattermost/mattermost-team-edition
    ports:
      - 8765:8065 
    environment:
      - MM_SQLSETTINGS_DRIVERNAME=postgres
      - MM_SQLSETTINGS_DATASOURCE=postgres://mmuser:password@db:5432/mattermost?sslmode=disable
      - TZ=Asia/Tokyo
    #volumes:
    #  - ./volumes/app/mattermost/:/mattermost/
    tty: true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: '2g'
    depends_on:
      - db
    networks:
      - r_ollama_net
      
  db:
    container_name: postgres
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=mmuser
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mattermost
      - TZ=Asia/Tokyo
    #volumes:
    #  - ./volumes/db:/var/lib/postgresql/data
    tty: true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: '2g'
    networks:
      - r_ollama_net

  portainer:
    image: portainer/portainer-ce:alpine
    container_name: portainer
    ports:
      - 9443:9443
      - 9000:9000
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: '2g'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - r_ollama_net

networks:
  r_ollama_net:
    driver: bridge

volumes:
  ollama:
  #open-webui:
