services:
  rstudio:
    #image: rocker/tidyverse
    container_name: rstudio_llm
    build :
       context: .
       dockerfile: ./rstudio.dockerfile
    environment:
      - USERNAME=rstudio
      - PASSWORD=rstudio1234
      - TZ=Asia/Tokyo
      - MLFLOW_TRACKING_URI='http://mlflow:5000'
    ports:
      - 8787:8787
      - 3838:3838
      - 9991:9991
      - 9992:9992
      - 9993:9993
      - 9994:9994
      - 9995:9995
    volumes:
      - ../../work/:/mnt
    #working_dir: /work
    tty: true
    restart: always      
    depends_on:
      - ollama
      - mlflow
    networks:
      - r_ollama_net

  ollama:
    # image: ollama/ollama
    container_name: ollama
    build :
       context: .
       dockerfile: ./ollama.dockerfile
    volumes:
      - ollama:/root/.ollama
    ports:
      - 11434:11434
    tty: true
    restart: unless-stopped
    networks:
      - r_ollama_net

  mlflow:
    build:
      #context: ./mlflow-tracking
      context: . 
      dockerfile: ./mlflow.dockerfile
    expose:
      - "5000"
    ports:
      - 5000:5000
    command: mlflow server --backend-store-uri /work/mlruns --default-artifact-root /work/mlruns --host 0.0.0.0 --port 5000
    tty: true
    restart: always
    networks:
      - r_ollama_net
    
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open_webui
    ports:
      - "3000:8080"
    volumes:
      - open-webui:/app/backend/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
    networks:
      - r_ollama_net


  selenium:
    container_name: selenium
    build :
       context: .
       dockerfile: ./selenium.dockerfile
    ports:
      - 4444:4444 
      - 7900:7900
    restart: always
    tty: true
    networks:
      - r_ollama_net

networks:
  r_ollama_net:
    driver: bridge

volumes:
  ollama:
  open-webui:
