version: "3.7"
services:
  rstudio:
    #image: rocker/tidyverse
    container_name: rstudio
    build :
       context: .
       dockerfile: ./rstudio.dockerfile
    environment:
      - USERNAME=rstudio
      - PASSWORD=rstudio1234
      - TZ=Asia/Tokyo
    ports:
      - 8787:8787
      - 3838:3838
      - 9901:9901
      - 9902:9902
      - 9903:9903
      - 9904:9904
      - 9905:9905
      - 9906:9906
      - 9907:9907
      - 9908:9908
      
    volumes:
      - ./mnt:/mnt
    #working_dir: /work
    tty: true
    restart: always
    depends_on:
      - ollama
    networks:
      - r_ollama_net

  ollama:
    #image: ollama/ollama
    container_name: ollama
    build :
       context: .
       dockerfile: ./ollama.dockerfile
    ports:
      - 11434:11434
    #volumes:
    #  - ollama:/root/.ollama
    tty: true
    restart: unless-stopped
    networks:
      - r_ollama_net

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - 3000:8080
    #volumes:
    #  - open-webui:/app/backend/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
    networks:
      - r_ollama_net

#volumes:
#  ollama:
  #open-webui:

networks:
  r_ollama_net:
    driver: bridge
